@import 'tailwindcss';
/* *,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

:root {
  /* COLORS */
  --white: #ffffff;
  --black: #000000;
  --chartreuse: #ba9f38;
  --palelime: #e1cc96;
  --butter: #fcebd0;
  --skyblue: #b1baca;
  --emerald: #1d3b28;
}

/* a {
  text-decoration: none;
}  */

/* a:visited,
a:hover,
a:active {
  color: inherit;
} */

/* We will set font size to 100%, most browsers default font is 16px
  based on that knowledge we will use rems to calculate px
  eg. 0.5rem = 8px, 1rem = 16px, 1.5rem = 24px etc. */
html {
  font-size: 100%;
  scroll-behavior: smooth;
}


body {
  width: 100%;
  min-height: 100vh;
  background: var(--palelime);
}

#root {
  min-width: 1223px;
  max-width: 80rem; 
  margin: 0 auto;
}
